{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <div id="logo-header" align="center">
        <div id="img-logo" align="center">
            <img src="{% static 'logo.png' %}" height="200" width="200">
        </div>
        <div id="search-bar" align="center">
            <form id="searchform" method="get" accept-charset="utf-8" action="/search/">
                <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
                <button class="searchbutton" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <div id="similar-to-liked">
        <h1>Similar to movies you liked!</h1>
    </div>
    <div id="similar-to-not-liked">
        <h1>Let some of these surprise you!</h1>
    </div>
    <div id="unrelatable">
        <h1>What's life without a little adventure?</h1>
        <ul id="menu">
            {% for movie in unrelatable %}

            <li><a href="/{{ movie.movie_id }}/"> {{ movie.title }}</li><br>

            {% endfor %}
        </ul>
    </div>
</head>
<body>

</body>
</html>