html,body {
    margin:0;
    padding: 0;
    background: #2c2727;
    font-family: 'Roboto', sans-serif;
}
.categoryContainer {
    display: flex;
    flex-direction: row;
    height: 50vh;
    margin:60px 0px 0px 80px;
}
.categoryContainer a{
    text-decoration: none;
    color:white;
    font-size: 40px;
}
.category{
    height: 200px;
    width: 200px; 
    margin:0px 20px;  
    padding:0;
}
.category:hover {
    opacity:0.7;
}
.category:hover .material-icons{
    visibility: visible;
}
.movieCategory {
    background: #63cbd3;
}
.musicCategory {
    background: #d363cb;
}
.bookCategory {
    background: #d36b63;
}
.videoCategory {
    background: #486470;
}
.newsmagCategory {
    background: #ffb72f;
}
.categoryName {
    text-align: center;
    vertical-align: middle;
    line-height: 220px;
}
.welcomeHead {
    color:white;
    text-align: center;
    margin-top:70px;
    maring-bottom:0px;
}
.material-icons {
    position: absolute;
    margin-top:35px  !important;
    margin-left:33px;
    visibility: hidden;
}